{% extends 'base.html' %}
{% load static %}
{% block title %}Doctor Dashboard{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% block content %}
  <h2>Doctor Dashboard</h2>
  <div class="dashboard">
    <h2>Welcome, {{ user.first_name }} {{ user.last_name }}</h2>
    <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Address: {{ user.address_line1 }}, {{ user.city }}, {{ user.state }}, {{ user.pincode }}</p>
</div>
  <!-- Blog creation form -->
  <h3>Create New Blog Post</h3>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Save</button>
  </form>

  <!-- List of authored blogs -->
  <h3>Your Blog Posts</h3>
  {% for blog in blogs %}
    <div>
      <h4>{{ blog.title }}</h4>
      <p>{{ blog.summary }}</p>
      <p><a href="{% url 'blog_post_detail' blog.pk %}">Read more...</a></p>
    </div>
  {% empty %}
    <p>No blogs created yet.</p>
  {% endfor %}
{% endblock %}
    

